@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "worasait";
  src: local("worasait"), url(./worasait.ttf) format("truetype");
  /* src: url(./worasait.ttf) format("truetype"); */
  color: red;
}

body {
  @apply h-full;
}

html {
  @apply h-full;
}

#root {
  @apply h-full;
}

input:focus,
textarea:focus {
  outline: 0;
}